<div class="subscription @@highlightClass" data-subscription="@@subscriptionType" data-url="@@url">

    <div class="subscription__label-wrapper" style="display: @@displayLabel;">
      <span class="subscription__label" data-translate="@@label"></span>
    </div>
  
    <div class="subscription__details">
      <p class="subscription__type" data-translate="@@type" data-max-length="18"></p>
      <p class="subscription__price" data-translate="@@yearlyPrice" data-max-length="23"></p>
    </div>
  
    <div class="subscription__info">
      <p class="subscription__price" data-translate="@@weeklyPrice" data-max-length="20"></p>
    </div>
  </div>